Source: openmediavault-forkeddaapd
Section: net
Priority: optional
Maintainer: Bluecherry Maintainers <maintainers@bluecherrydvr.com>
Build-Depends: debhelper (>= 8.0.0), gettext
Standards-Version: 3.9.3
Homepage: http://www.openmediavault.org/
Vcs-Svn: https://openmediavault.svn.sourceforge.net/svnroot/openmediavault
Vcs-Browser: http://openmediavault.svn.sourceforge.net/viewvc/openmediavault/

Package: openmediavault-forkeddaapd
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, forked-daapd
Description: OpenMediaVault forked-daapd (DAAP Server) plugin
 forked-daapd is an iTunes-compatible DAAP (Digital Audio Access Protocol)
 media server.
 .
 This package provides the forked-daapd plugin for OpenMediaVault.
